@{
    ViewData["Title"] = "Home Page";
    var data = ViewBag.Info;
}

<div class="text-center">
    <h1 class="display-4">Bienvenue</h1>
    @*<p> @data.Title</p>
    <p> Url de l'image : @data.Poster</p>
    <img src="@data.Poster">*@
    <img src="img/home_logo.png">
    <a asp-action="FilmsRecents" asp-controller="Film" class="btn btn-info" role="button">Films les plus récents</a>
</div>
@*<div class="container">
    <div class="row">
        <div class="col-sm-3 border border-primary"><p class="text-center">TEST</p></div>
        <div class="col-sm-3 border border-primary"><p class="text-center">TEST</p></div>
        <div class="col-sm-3 border border-primary"><p class="text-center">TEST</p></div>
        <div class="col-sm-3 border border-primary"><p class="text-center">TEST</p></div>
    </div>
</div>*@