

<div class="text-center shadow p-3 mb-5 bg-white rounded">
    <h1>Avec qui vous avez des chances de tomber amoureux ?</h1>
    <form asp-action="Resultat" asp-controller="LoveCalculator">
        <div class="form-group">
            <label for="premier_nom">Premier nom:</label><br>
            <input type="text" id="premier_nom" name="premier_nom" required><br>
        </div>
        <div class="form-group">
            <label for="deuxieme_nom">Deuxieme nom:</label><br>
            <input type="text" id="deuxieme_nom" name="deuxieme_nom" required>
        </div>


        <input type="submit" class="btn btn-primary">
    </form>


</div>